<div class="container">
  <form [formGroup]="subgraphForm" class="d-flex flex-column">

    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="interpolationType">Line between dots</label>
      </div>
      <select class="custom-select" id="interpolationType" formControlName="interpolationType" name="interpolationType"
        (ngModelChange)="onChange($event)">
        <option *ngFor="let type of interpolationType | keyvalue" [ngValue]="type.value">{{type.key}}</option>
      </select>
    </div>

    <span class="mt-2"></span>

    <input hidden formControlName="id" name="id" placeholder="0">
    <input formControlName="name" name="name" autocomplete="off" class="form-control" placeholder="Name">
    <input hidden formControlName="knots" name="knots" placeholder="Knots">
    <input hidden formControlName="coordinates" name="coordinates" placeholder="Coordinates">

  </form>
</div>